@use '../../_variables.module.css';

.root {
  position: relative;
  display: flex;
  gap: var(--space-2);
  padding: var(--space-3) var(--space-7) var(--space-3) var(--space-3);
  font-family: var(--font-family);
  font-size: var(--text-1-font-size);
  line-height: var(--text-1-line-height);
  justify-content: center;
  border-bottom: 1px solid var(--color-neutral-200);

  a {
    text-decoration: none;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: inherit;
    color: inherit;
  }
}

.icon {
  flex: none;
}

.iconClose {
  position: absolute;
  top: 10px;
  right: 16px;
  color: var(--color-neutral-600);

  .alert & {
    color: var(--color-red-700);
  }
}

// Themes

.info {
  color: var(--color-black);
  background-color: var(--color-neutral-100);
}

.alert {
  color: var(--color-red-700);
  background-color: var(--color-red-100);
}
