@tailwind base;
@tailwind utilities;

html {
  background: #fbfcfd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  color: #1b1c1e;
}
