@use '../src/_variables.module.css';

.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-bottom: var(--space-4);
  font-size: var(--heading-2-font-size);
}

.heading {
  color: var(--color-black);
  display: inline;
}

.description {
  font-size: 16px !important;
  color: var(--color-neutral-700);
}

.section {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--color-neutral-700);
}
