:global(#root) {
  .threshold_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px 0;
  }

  .mutatorcolumnstable {
    grid-template-columns:
      repeat(4, minmax(max-content, 1fr))
      60px;

    overflow-x: auto;
  }
}
