:global(#root) {
  .dataTypeColumns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dataTypeColumnsTable {
    grid-template-columns: 2fr 1fr fit-content(120px) fit-content(200px);
  }
}
