:global #root {
  .databaseform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
  }

  .databaseform fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
