{% load static %}
<!-- Card for details -->
<div
  class="card my-2 mx-2 {% if contact.is_deleted %} deleted-card {% else %} boy-card {% endif %} {% if 'detail' in request.path %}mx-auto w-25{% endif %}">
  <img src="{% if contact.image %}
        {{ contact.image.url }}
        {% else %}
        {% static 'images/boy.png' %}
        {% endif %}" class="img-fluid" />
  <div class="card-header">
    <a href="{% url 'detail' contact.contact_id %}" class="text-white header-link"><i class="fas fa-user-plus mr-2"></i>
      {{ contact.name }}</a>
  </div>
  <div class="card-body pb-0">
    <p>
      {% if contact.is_email_resolved %}
      <i class="fas fa-envelope mr-2"></i>
      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      {% else %}
      <i class="fa-regular fa-eye-slash"></i>
      <a href="{{ contact.email }}">{{ contact.email }}</a>
      {% endif %}
    </p>
    <p>
      <i class="fas fa-phone mr-2"></i>
      <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
    </p>
    <p><i class="fas fa-user mr-2"></i> {{ contact.nickname }}</p>
  </div>
</div>
<!-- Card for details ends -->