<html>

<head>
    <title>Sample App</title>
    <base href="/" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Fire Details</h1>
    <label>Name:</label> <%= fire.alias %><br />
    <label>ID:</label> <%= fire.id %><br />

    <br />
    <a href="/org/<%= orgID %>">&lt; Back to Organization</a>
</body>

</html>
