export UC_TENANT_URL=https://teststeve.tenant.staging.userclouds.com
export UC_CLIENT_ID=d5427d0a1d29d41182aafc7e3e953259
export UC_CLIENT_SECRET=bRZEob3X9A6YDZYS/UKTxrPE9LT5MqNRSN7RkHSIB2ZywHSwtv8cf60uGzKNQmmh
